body {
  padding: 0;
  margin: 0;
  height: 100vh;
  overflow: hidden;
}

#header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 20px;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1000;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

h1, label, h2, p {
  color: white;
  margin: 0;
  font-family: 'Times New Roman', Times, serif ;
}

#cityForm {
  display: flex;
  align-items: center;
  gap: 10px;
  flex-wrap: wrap;
}

#sunInfo {
  display: flex;
  flex-direction: column;
  gap: 5px;
  margin-left: 980px;
}

.sunDetail {
  display: flex;
  align-items: center;
  gap: 8px;
  color: white;
}

.sunIcon {
  width: 20px; 
  height: 20px;
}

  #map { 
    height: 100vh; 
    width: 100%;
    z-index: 1; /* Coloca el mapa detrás del encabezado */
  }

  .leaflet-layer,
  .leaflet-control-zoom-in,
  .leaflet-control-zoom-out,
  .leaflet-control-attribution {
    filter: invert(100%) hue-rotate(180deg) brightness(95%) contrast(90%);
  }

  .leaflet-popup-content-wrapper {
    background-color: #333;
    color: #fff;
    border-radius: 8px;
    border: 2px solid #4CAF50;
  }